.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    
}
.skills-img img {
    width: 80%;
    padding-left: 4rem;
    object-position: center;
}
.bars-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.bars-box h3, span {
    font-size: 1.1rem;
    font-weight: 500;
}
.bars-box h3{
    padding-left: 8px;
}
.light-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: hsla(260, 100%, 44%, 0.4);
    border-radius: 0.5rem;
}
.percentage-bar {
    position: absolute;
    bottom: 0;
    left: o;
    height: 0.5rem;
    background: aqua;
    border-radius: 0.5rem;
}
.html-bar {
    width: 94%;
}
.css-bar {
    width: 84%;
}
.js-bar {
    width: 75%;
}
.py-bar {
    width: 78%;
}
.ai-bar {
    width: 75%;
}
.shopify-bar {
    width: 80%;
}
.react-bar {
    width: 80%;
}
.jquery-bar {
    width: 75%;
}
.bloch-bar {
    width: 70%;
}
.vue-bar {
    width: 94%;
}
.sql-bar {
    width: 94%;
}
.mongo-bar {
    width: 90%;
}
.pdb-bar {
    width: 95%;
}